:root{
    font-family: sans-serif;
}

body{
    background-color: #000000;
}

#Page{
    width: 1180px;
    height: 3279px;
    background-color: #F5F4F0;
    margin: 80px auto 137px auto;
    box-sizing: border-box;
    padding: 80px;
}


.Busan sub{
    margin-bottom: 104px;
}

h1{
    color: #1B1B1B;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

sub{
    color: #333333;
    font-size: 16px;
    text-align: center;
    margin-top: 24px;
    line-height: 22px;
    font-style: italic;
}

h2{
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: #1B1B1B;
}

h3{
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    text-align: top;
    color: #1B1B1B;
}

text-headline{
    color: #E1624F;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    line-height: 22px;
}

p{
    color: #333333;
    font-size: 16px;
    font-weight: Regular;
    text-align: left;
}

footer{
    text-align: center;
    color: #000000;
}

img {
    border-radius: 28px;
    width: 100%;
}

.divider{
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}


footer img{
    vertical-align: middle;
    width: 2%;
    color: #ffffff;
}

.img-principal{

    border-radius: 28px;
    width: 100%;
    padding-bottom: 24px;
}

section + section{
    padding: 40px;
}

.sub-1{
    color: #0C51A7;
}

.sub0{
    color: #0C51A7;
}

.sub1{
    color: #591B98;
}

.sub2{
    color: #E5245E;
}

.sub3{
    color: #E95E10;
}